body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

#root {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem; /* Adjust padding, in first value change top and bottom 2nd value change left and right */
    text-align: center;
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  
  .card {
    padding: 2em; /* .card must be edit like this*/
    width: 100%; /* Make card full width */
    max-width: 600px; /* Optional: limit max width */
    margin: 1em auto; /* Center card with margin */
    
  }
  
  .read-the-docs {
    color: #888;
  }
  
  @media (max-width: 768px) {
    #root {
      padding: 1rem; /* Reduce padding on smaller screens */
    }
  
    .card {
      width: 90%; /* Make card take more width on smaller screens */
    }
  }